@import './partials/fluidtypography';

.projects_margin {
  position: absolute;
  padding-top: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 15%;
  padding-left: 0;
  background: transparent;

  h1 {
    font-size: $mod_2 * $mod_2 * $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;
    @include fluid-type(
      $min_width_desktop,
      $max_width_desktop,
      $mod_2 * $mod_2 * $mod_2 * $mod_2 * $min_font_desktop,
      $mod_2 * $mod_2 * $mod_2 * $mod_2 * $mod_2 * $max_font_desktop
    );
    text-transform: uppercase;
  }
}
